<h1>BIENVENIDO AL REGISTRO DE REGISTROS</h1>

<h2>PARA REGISTRAR PELICULAS, SERIES O DOCUMENTALES APRIETE EL SIGUIENTE BOTON</h2>

<form action="/pages/new" method="get">
    
    <input type="submit" value="Registrar">
  </form>
