<h1>FORMULARIO REGISTRO PELICULA</h1>
<form action="/pages/create" method="get">
  <input type="text" name="txtname" /> Titulo <br>
  <input type="text" name="txtdescription" /> Descripcion <br>
  <input type="submit" value="Registrar Pelicula">
</form>

<h1>FORMULARIO REGISTRO SERIE</h1>
<form action="/pages/create" method="get">
    <input type="text" name="txtname" /> Titulo <br>
    <input type="text" name="txtdescription" /> Descripcion <br>
    <input type="submit" value="Registrar Serie">
  </form>

  <h1>FORMULARIO REGISTRO DOCUMENTAL</h1>
  <form action="/pages/create" method="get">
    <input type="text" name="txtname" /> Titulo <br>
    <input type="text" name="txtdescription" /> Descripcion <br>
    <input type="submit" value="Registrar Documental">
  </form>